mat-toolbar{
    justify-content: space-between;
    background:#b41318;
    font-family: 'DancingScript', 'arial', sans-serif;
    border-bottom:2px solid #ee1318;
  
    span{
        font-family: 'DancingScript';
        color:#ebcf05;
        margin:5px;
        position: relative;
        top: 5px;
    }
    img{
        width: 26px;   
        margin-right: 8px;
    }
    .profile{
        img{
            background: grey;
            border-radius: 16px;
            margin-top: 0px;
            border: 1px solid #cdcdcd;
            margin-right: 0px;
        }
   
    }
}