.intro-container{
    display:flex;
    justify-content: center;
    .intro-text{
        width:70%;
        margin:16px;
    }
    img{
        width: 89px;
        height:82px;
        margin:16px;
    }
}


.or-container{
    text-align: center;
    span{
        
        color: #000;
        font-size: 20px;
    }
}

