
<!-- Header -->
<!--  --> <app-header></app-header> 
<!-- Header -->

<!-- Body Start -->

<div class="intro-container">
    <div class="intro-text">
        <h2 class="headline">The “Draw from hat” game’s online version</h2>
        <span>The rules are real simple. Draw a name from the hat and give a nice present to the one you drew. If you want to start a game just click on the button below. 
            If you wanna join a room just search the rooms beneath.</span>
    </div>
    
</div>

<div class="btn-container" (click)="startGame()">
    <div class="text">
        <span>Start Game</span>
    </div>
</div>

<div class="or-container">
    <span>
        Or
    </span>
</div>


<div class="list-container">
    <div class="list-row" *ngFor="let game of games | keyvalue: returnZero let i = index" [attr.data-index]="i">
        <div class="info">
            <span>{{game.value.name}}</span>
        </div>
        <button class="join-btn btn" (click)="openGame(i)" >Join</button>
    </div>
</div>

<!-- Body End -->