.intro-container{
    display:flex;
    justify-content: center;
    font-family: -webkit-pictograph;
    .intro-text{
        
        margin:16px;
    }
    img{
        width: 89px;
        height:82px;
        margin:16px;
    }
    .headline{
        font-size: 18px;
        font-family: -webkit-pictograph;
        font-weight: 700;
    }
}



.or-container{
    text-align: center;
    span{
        
        font-size: 20px;
    }
}

