

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width:64px;
            margin:8px;
        }
        margin:24px;
        span{
            color:#fff;
            margin:8px;
            font-size:22px;
        }
    }

    label{
        color:#fff;
        font-size:16px;
        margin-bottom:12px;
    }
    .form-container{
        
        .form-group{
            width:100%;
            margin-bottom:8px;
            input{
                border:2px solid #fff;
                
            }
            

        }
        .btn-container{
            width: 100%;
            //margin:0px;
            padding:0px;
            .text{
                margin:0px;
                height: 54px;
                display: flex;
                justify-content: center;
                align-items: center;

              //  padding:5px;
            }
        }
    }
