

<!-- Header -->
<!--  --> <app-header></app-header> 

<!-- Header -->

<!-- Body Start -->

<div class="list-container">
    <form [formGroup]="loginForm" (ngSubmit)="register()"> 
       
        <div class="form-container">
            <div class="form-group">
                <label for="name">Provide your name</label>
                <input type="text"  formControlName="name" class="form-control" />

            </div>

            <div *ngIf="!subPage" class="form-group">
                <label for="name">Provide room name</label>
                <input type="text"  formControlName="server" class="form-control" />
            
            </div>
           
            <button [disabled]="loading" class="btn btn-container btn-register">
                <div class="text">
                    <span *ngIf="loading"  class="spinner-border spinner-border-sm mr-1 \"></span>
                    Add
                </div>
            </button>
            
        </div>
    </form>
</div>

<!-- Body End -->

 